@import "color";

.badgeRow {
  margin: 10px -5px;

  .badge {
    margin: 5px;
  }
}

.badge {
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: $grey-700;
  color: $white;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  a, span {
    color: $white;
    text-decoration: none;
  }
}