.settings-icon-container {
  position: absolute;
  top: 32px;
  right: 32px;

  .settings-icon {
    width: 32px;
    height: 32px;
    stroke: black;
    fill: black;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }
}