.batched-graph-control {
  .batch-controller {
    display: flex;
    flex-direction: row;
    margin: 1.2em 0;

    button {
      margin: auto;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }
    }

    svg {
      height: 50px;
      width: 50px;
      fill: $black;
    }
  }

  .batched-graph-control-slider-container {
    display: flex;
  }

  .batched-graph-control-slider {
    padding-top: 4em;
    margin: auto;
    width: calc(90% - 50px);
  }

  .MuiSlider-root {
    color: $spotify-green;
  }

  .MuiSlider-rail, .MuiSlider-track, .MuiSlider-mark {
    height: 10px;
  }

  .MuiSlider-thumb {
    display: block;
    width: 20px;
    height: 20px;

    &.MuiSlider-active {
      box-shadow: 0 0 0 14px rgba(29, 185, 84, 0.16);
    }

    &.Mui-focusVisible, &:hover {
      box-shadow: 0 0 0 8px rgba(29, 185, 84, 0.16);
    }
  }

  .slider-thumb {
    position: relative;
    width: 300px;
    left: -145px;
    bottom: 2.5em;
    text-align: center;
  }

  .slider-thumb-content {
    color: $white;
    background-color: $spotify-green;
    padding: .5em;
  }
}
