.batched-graph-control {
  position: fixed;
  bottom: 0;
  width: 100vw;

  ul.batched-graph-display {
    margin: 0 20px;

    li {
      margin-top: 10px;
    }

    li.current-selected-batch {
      font-size: 28px;
      font-weight: 800;
    }

    li.current-hovered-batch {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .batched-graph-slice-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;

    .batched-graph-slice {
      flex: 1 1;
      height: 50px;
      background-color: $grey-700;
      border-top: 1px solid $grey-300;

      &.selected {
        background-color: $grey-300;

        & + :not(.selected) {
          border-left: 5px solid $spotify-green;
        }
      }

      &:hover {
        background-color: $spotify-green;
      }
    }
  }

  .batch-controller {
    display: flex;
    flex-direction: row;

    button {
      margin: 7px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }
    }

    svg {
      height: 50px;
      width: 50px;
      fill: $white;
    }
  }

}
