$white:    #fff;
$grey-100: #f2f2f2;
$grey-200: #edf0f4;
$grey-300: #e5e5e5;
$grey-400: #a6a6a6;
$grey-500: #8c8c8c;
$grey-600: #737373;
$grey-700: #595959;
$grey-800: #55575b;
$grey-900: #2a2d32;
$black:    #000 !default;

$background: #2a2d32;

$dark-spring-green: #1b7d4bff;
$green-cyan: #2f9963ff;
$medium-sea-green: #43b47aff;
$ocean-green: #56c98eff;
$medium-aquamarine: #68dea1ff;
$nadeshiko-pink: #fdb0cdff;
$amaranth-pink: #fd97bdff;
$cyclamen: #fc7dadff;
$french-rose: #fb4a8dff;
$paradise-pink: #f90c66ff;

$spotify-green: #1DB954;

body {
  background-color: $background;
  color: $grey-100;
}

a {
  color: $spotify-green;

  &:hover {
    opacity: .9;
  }
}