// Form elements

.checkbox {
  display: flex;

  input {
    margin: auto .5em auto 0;
  }
}

.discrete-selector {
  margin: 1em 0;

  .discrete-selector-group-label {
    margin-bottom: .4em;
    font-weight: bold;
  }

  .discrete-selector-options {
    display: flex;
    flex-direction: row;
    border: 1px solid $grey-600;
  }

  label.discrete-selector-option {
    flex: 1 1;
    padding: 0.5em;
    cursor: pointer;
    text-align: center;

    &.selected {
      background-color: $spotify-green;
    }

    input {
      display: none;
    }
  }
}