.genre-selector {
  padding: 25px 0;

  .track {
    display: flex;
    flex-direction: row;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      margin: auto 0;
      padding: 0 5px 0 0;
    }

    svg {
      height: 16px;
      width: 16px;
      fill: $black;
      margin: auto;
    }
  }
}